<nav class="navbar navbar-fiehnlab navbar-toggleable-sm fixed-top navbar-expand-sm">
  <a class="navbar-brand" [routerLink]="['']">{{globals.APP_TITLE}}</a>

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
          [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="navbarCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-tasks"></i>&nbsp; Acquisition
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['lcms']">LC-MS</a>
          <a class="dropdown-item" [routerLink]="['gcms']">GC-MS</a>
        </div>
      </li>
      <!--
      <li class="nav-item" ngbDropdown>
        <a class="nav-link" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-calendar"></i>&nbsp; Scheduling
        </a>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['schedule']">Job Scheduler</a>
          <a class="dropdown-item" [routerLink]="['addtarget']">Add Target</a>
          <a class="dropdown-item" [routerLink]="['addlibrary']">Add Library</a>
          <a class="dropdown-item" [routerLink]="['download']">Download File</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']">Results</a>
      </li>
      -->
    </ul>
  </div>
</nav>